.tri-column
  width: 33.33%

.trending-artists
  background-color: #eeeeee
  padding-left: 30px
  font-family: Tahoma, sans-serif
  font-size: 24px

  .artist-entry
    display: flex
    margin-bottom: 20px

  h3
    font-size: 32px
    font-weight: 500
    color: black

  img
    border-radius: 50%
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.35)
    height: 184px
    width: 184px
    margin-right: 15px

  .artist-data
    width: 100%
    font-family: 'Yanone Kaffeesatz', sans-serif

  .artist-name
    font-size: 40px
    font-weight: 300
    color: #cd2b11

  .artist-genres
    font-size: 20px
    color: black
    font-weight: 300
    margin-left: 5px
