<div *ngIf="loading" class="overlay-wrapper" style="position:relative">
  <div class="overlay">Загрузка...</div>
</div>
<main *ngIf="album">
  <div class="album-header" style="display: flex">
    <div class="album-image">
      <img [src]="'../../assets/img/' + album.imageUrl" [alt]="album.name" />
    </div>
    <div class="album-info">
      <div class="album-name">{{ album.name }}</div>
      <div class="album-artist" [routerLink]="'/artist/' + album.artist._id">{{ album.artist.name }}</div>
      <br />
      <div style="display: flex">
        <div>
          <div class="album-year">
            Год выпуска: <span class="value">{{ album.year }}</span>
          </div>
          <br />
          <div class="album-genres">
            Жанр: <br />
            <span class="value">{{ album.genres }}</span>
          </div>
        </div>
        <div class="album-rating-plaque">
          {{ album.avgRating ? album.avgRating : 9.13 }}
        </div>
      </div>
    </div>
  </div>
  <div class="rating-panel">
    <div *ngIf="authService.isLoggedIn()" style="display:flex">
      <div *ngIf="!isRatingNow" style="display:flex">
        <div *ngIf="userRating !== 0">Ваша оценка: {{ userRating }}</div>
        <div *ngIf="userRating === 0">
          Вы еще не оценили этот альбом
        </div>
        <button (click)="isRatingNow = true">{{ userRating === 0 ? 'Поставить' : 'Изменить' }} оценку</button>
      </div>
      <div *ngIf="isRatingNow">
        <input #ratingSlider (input)="updateUserRating()" type="range" id="rating" min="1" max="10" />
        <label for="rating">{{ userRating }}</label>
        <button (click)="submitUserRating()">Подтвердить</button>
        <button (click)="deleteUserRating()">Удалить оценку</button>
        <button (click)="isRatingNow = false">x</button>
      </div>
    </div>
    <div *ngIf="!authService.isLoggedIn()">
      <span>Войдите или зарегистрируйтесь, чтобы поставить оценку</span>
    </div>
  </div>
  <div>reviews placeholder</div>
</main>
