<header>
  <div style="height: 50px; display: flex">
    <div class="logo" style="width:20%" [routerLink]="['/']">Jasper</div>
    <div class="charts" style="width:10%">Чарты</div>
    <div class="search" style="width:10%" [routerLink]="['/search']">Поиск</div>
    <div class="rubberband" style="width:40%"></div>
    <ng-container *ngIf="!username">
      <div class="login" style="width:10%" [routerLink]="['/login']">Войти</div>
      <div class="signup" style="width:10%" [routerLink]="['/signup']">Регистрация</div>
    </ng-container>
    <ng-container *ngIf="username">
      <div class="username" style="width:10%">Привет, {{ username }}</div>
      <div class="logout" style="width:10%" (click)="onLogout()">Выйти</div>
    </ng-container>
  </div>
</header>
